@use 'src/utilities' as *;

.section-about {
    display: grid;
    padding: {
        top: 2rem;
        bottom: 2rem;
        right: 3rem;
        left: 3rem;
    }
    row-gap: 1rem;
    column-gap: 2rem;

    font-size: .75rem;
    @include x-small {
        font-size: 1rem;
    }

    @include small {
        grid-template-columns: 1fr 2fr;

        .about-title {
            grid-column: 1 / 2;
        }

        .about-content {
            grid-column: 2 / 3;
        }
    }

    @include medium {
        font-size: 1.5rem;
    }

    .about-title, .about-content {
        justify-self: center;
        align-self: center;
    }
}