@use 'src/utilities' as *;

.section-contact {
  display: grid;

  padding: {
    top: 2rem;
    bottom: 2rem;
    right: 3rem;
    left: 3rem;
  }

  @include medium {
    grid-template-areas:
    "title title"
    "form  message"
    "form  media";

    .contact-title {
      grid-area: title;
    }

    .contact-message {
      grid-area: message;
      align-self: flex-end;
    }

    .contact-form {
      grid-area: form;
    }

    .contact-media {
      grid-area: media;
    }
  }

  @include fontResizer;

  .contact-title {
    justify-self: center;
    align-self: center;
  }
  
  .contact-message {
    text-align: center;
    justify-self: center;
  }

  .contact-media {
    justify-self: center;
    align-self: center;

    .stack-svg {
      cursor: pointer;
      transition: all .25s;

      &:hover {
        filter: brightness(1.25);
      }
    }
  }

  .contact-form {
    justify-self: center;
    align-self: center;

    .form-name, .form-email, .form-message {
      border-radius: .5rem;
      padding: .5rem;
  
      input, textarea{
        transition: all .25s;
        background-color: getColor(1);
        color: getColor(-1);
        
        border: none;
        outline: none;
        width: 100%;
        border-radius: .5rem;
        font-size: 1.1em;
        padding: .5rem;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }

    .form-button {
        text-align: center;
    }

    .field-ok {
        input, textarea {
            border: 1px solid getColor(-1);
        }
    }

    .field-error {
        input, textarea {
            border: 1px solid #F03;
        }
    }
  }
}