@use 'src/utilities' as *;

.port-navbar {
    position: sticky;
    width: 100%;
    overflow-x: auto;
    top: 0;
    height: var(--navbar-height);

    display: flex;
    flex-direction: row;
    align-items: center;

    @media only screen and (max-width: 599px) {
        justify-content: flex-start;
        .navbar-ref:not(:last-child) {
            margin-right: 3rem;
        }
    }
    @include small {
        justify-content: space-around;
    }
    @include medium {
        --navbar-height: 4rem;
        font-size: 2rem;
    }
    @include x-large{
        --navbar-height: 5rem;
    }

    background-color: getColor(0);

    .navbar-ref {
        padding: .5rem;
        cursor: pointer;
        color: getColor(-1);
        border: 2px solid getColor(-1);
        outline: 2px solid getColor(-1);
        outline-offset: -2px;

        transition: outline-offset .1s;

        &:hover {
            outline-offset: 1px;
            outline: 1px solid getColor(-1);
        }
    }
}