@use './utilities' as *;

.project-popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    background: #{getColor(0)}AA;
    width: 100vw;
    height: 100vh;

    display: grid;

    .project-box {
        width: 90%;
        @include small {
            width: 50%;
        }
        justify-self: center;
        align-self: center;

        .project-content {
            padding: 1rem;
            background-color: getColor(0);

            &:first-child {
                border-radius: 1rem 1rem 0 0;
            }

            &:last-child {
                border-radius: 0 0 1rem 1rem;
            }
        }

        .project-title {
            text-align: center;
            background-color: getColor(0);
            color: getColor(-2);
        }

        .project-technologies {
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;
            flex-wrap: wrap;

            img {
                width: 3em;
            }
        }

        .project-buttons {
            display: flex;
            flex-flow: row;
            justify-content: space-evenly;

            .project-btn {
                cursor: pointer;
                padding: 1rem;
                border: 1px solid getColor(-1);
                border-radius: .5rem;
                transition: all .25s;

                &:hover {
                    background-color: getColor(-1);
                    color: getColor(0);
                }
            }
        }
    }
}